* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex; // 将 header 设置为 flexbox 布局
  align-items: center; // 垂直居中对齐
  background-color: rgb(245, 47, 3);

  img {
    // 控制 logo 图像的样式
    width: 20%; // 设置 logo 的宽度
    margin-left: 10%; // logo 左侧的间距
    margin-top: 3%; // logo 顶部的间距
    margin-bottom: 3%; // logo 底部的间距
    height: auto; // 保持纵横比
  }
  nav {
    margin-left: auto; // 将 nav 推到右侧
    display: flex; // 将 nav 设置为 flexbox 布局
    justify-content: flex-end; // 将 nav 中的元素向右对齐
    align-items: center; // 垂直居中对齐

    div {
      display: flex; // 将 div 设置为 flexbox 布局
      align-items: center; // 垂直居中对齐

      a {
        margin-right: 10px; // 设置每个链接之间的间距
        padding: 10%; // 设置内边距

        img {
          width: 25px; // 设置按钮图像的宽度
          height: auto; // 保持纵横比
        }
      }
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-toggle {
    display: block; // 确保下拉菜单的触发器是块级元素
  }

  .dropdown-menu {
    display: none; // 默认隐藏下拉菜单
    position: absolute; // 绝对定位
    background-color: #f1f1f1; // 背景颜色
    min-width: 160px; // 最小宽度
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); // 阴影效果
    z-index: 1; // 确保在其他元素之上
  }

  .dropdown-menu a {
    color: black; // 链接颜色
    padding: 12px 16px; // 链接内边距
    text-decoration: none; // 去掉下划线
    display: block; // 链接为块级元素
  }

  .dropdown-menu a:hover {
    background-color: #ddd; // 悬停时的背景颜色
  }

  .dropdown:hover .dropdown-menu {
    display: block; // 悬停时显示下拉菜单
  }
}
